.allDepartments{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  margin: 1.5rem 0;
  height: 100%;
}


.department{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 112px;
height: 100%;
flex-shrink: 0;
border-radius: 5px;
background: #FFF;
gap: 5px;
box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.05);

}
.department_header{
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--4, rgba(19, 112, 228, 0.10));
  border-radius: 5px;

}
.department_header h5{
  color: rgba(41, 45, 50, 0.70);
font-family: var(font_family);
font-size: 18px;
font-weight: 400;
text-align: center;

}
.department_technology{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100px;
  overflow: auto;
  
}