.task_popup{
    width: 100%;
    height: 100vh;
    background-color: rgba(23, 23, 23, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}