.phase_team{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.phase_team-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 32px;
    border-radius: 5px;
    border: 0.4px solid var(--blue);
    background: #FFF;
}
.phase_team-header h4{
    color: var(--blue);
    font-family: var(--my_font);
    font-size: 16px;
    font-weight: 700;
    }

.phase_team-cards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    width: 100%;
}
.phase_team-cards_card{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 240px;
    height: 90px;
    padding: 1.5rem ;
    border-radius: 24px;
    background: var(--4, rgba(19, 112, 228, 0.10));
    position: relative;
}
.phase_team-cards_card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42.9px;

}
.phase_team-cards_card-img img{
    width: 100%;
    height: 56.098px;
    flex-shrink: 0;
    border-radius: 50%;
}
.phase_team-cards_card-conrent{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.phase_team-cards_card-conrent h5{
    color: var(--blue);
    font-family: var(--my_font);
    font-size: 18px;
    font-weight: 500;
}
.phase_team-cards_card-conrent p{
    color: #797979;
    font-family: var(--my_font);
    font-size: 14px;
    font-weight: 500;
}