.all{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}
.main{
  
  width: calc(100% - 260px);
  display: flex;
  flex-direction: column;
  align-items: center;
 
 
}
.body1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:0 2em ;
  
}
input:focus,select:focus,textarea:focus{
  outline-color: var(--blue);
}
input,select,textarea{
  padding: .5rem;
}
*{
  box-sizing: border-box;
}
hr {
  margin: 1rem 0;
  color: inherit;
  border: 0 !important;
  height: 1px;
  opacity: .25;
  width: 360px;
  background-color: var(--blue);
}

