@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@1,600&family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,500&display=swap');

html,
body,
#root,
.app ,
.content{
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif;
}
:root{
  --blue :#1370E4 ;
  --my_font : 'Lato', sans-serif;
  --toastify-color-success:var(--blue) !important ;
  --toastify-icon-color-success:var(--blue) !important;
}


::-webkit-scrollbar{
  width: 5px;
 height: 4px;
}
::-webkit-scrollbar-button{
 
  width: 50px;
  
}
::-webkit-scrollbar-tarck{
  background: #e0e0e0;

}
::-webkit-scrollbar-thumb{
  background: var(--blue);
  
}
::-webkit-scrollbar-thumb:hover{
  background: #555;
 

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

p,h1,h2,h3,h4,h5{
  margin: 0;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  
  color: rgba(0, 0, 0, 0);
  background: url(./dashBoard/assets/Form/calendar.svg) no-repeat;
  background-position:  center;
  width: 20px;
  height: 20px;
  border-width: thin;
}
.datepicker-input::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}


select{
 
    
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;


   background-image:url(./dashBoard/assets/arrow-down.svg);
   background-size: 15px;
   background-repeat: no-repeat;
   background-position: calc(100% - 10px);
}


.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
a{
  text-decoration: none;
}


.text-primary-p{
  color:#a5aaad ;
  font-size: 14px;
  font-weight: 700;
}

.font-bold{
  font-weight: 700;
}

.text-title{
  color: #2e4a66;
}
.text-lightblue{
  color: #469cac;
}
.text-red{
  color: #cc3d38;
}
.text-yellow{
  color: #a98921;
}
.text-green{
  color: #3b9668;
}
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: .8fr 1fr 1fr 1fr;
  grid-template-rows: .2fr 3fr;
  grid-template-areas:'sidebar nav nav nav' 'sidebar main main main' ;
}
@media only screen and (max-width:978px){
  .container{
    
    grid-template-columns: 1fr;
    grid-template-rows: .2fr 3fr;
    grid-template-areas:' nav' ' main' ;
  }
}
